In [3]:
import numpy as np
import pandas as pd

matrix_data = np.random.uniform(1, 2, size=(20, 5))
df = pd.DataFrame(matrix_data, columns=['a', 'b', 'c', 'd', 'e'])

Adding columns based on different conditions

In [6]:
df['f'] =  df[["a", "b", "c", "d", "e"]].sum(axis=1)
df["g"] = np.where(df["f"] < 8, "LT8", "GT8")
df.head()

          a         b         c         d         e         f    g
0  1.040099  1.040922  1.095638  1.193680  1.061332  5.431671  LT8
1  1.520606  1.985065  1.975674  1.669379  1.159209  8.309933  GT8
2  1.255000  1.140577  1.947400  1.980343  1.266357  7.589678  LT8
3  1.856690  1.489489  1.586154  1.323883  1.273504  7.529720  LT8
4  1.250128  1.911478  1.443769  1.153116  1.232895  6.991387  LT8

No. of rows where the value in the column “g” is “LT8”

In [15]:
df.loc[df['g'] == 'LT8'].shape[0]

14

Finding standard deviation of the column “f” for the rows where the value in the column “g” is “LT8” and “GT8” respectuvely

In [18]:
df.loc[df['g'] == 'LT8', 'f'].std()

0.7713639206775262

In [20]:
df.loc[df['g'] == 'GT8', 'f'].std()

0.143798038487064